<% include ../partials/headerLogin %> 
<body style="background-color: #999999;">
	
        <div class="limiter">
            <div class="container-login100">
                <div class="login100-more" style="background-image: url('vendor/login/images/bg-01.jpg');"></div>
    
                <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                    <form id="registrar" class="login100-form validate-form">
                        <span class="login100-form-title p-b-59">
                            AimCash - Cadastro
                        </span>
    
                        <div class="wrap-input100 validate-input" data-validate="Nome Obrigatório*">
                            <span class="label-input100">Nome</span>
                            <input id="nome" class="input100" type="text" name="nome" placeholder="Nome...">
                            <span class="focus-input100"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate="Sobrenome Obrigatório*">
                            <span class="label-input100">Sobrenome</span>
                            <input id="sobrenome" class="input100" type="text" name="sobrenome" placeholder="Sobrenome...">
                            <span class="focus-input100"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate="Email Obrigatório*">
                            <span class="label-input100">Email</span>
                            <input id="email" class="input100" type="text" name="email" placeholder="Email...">
                            <span class="focus-input100"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate = "Senha Obrigatória*">
                            <span class="label-input100">Senha</span>
                            <input id="senha" class="input100" type="password" name="pass" placeholder="*************">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <!-- <div class="wrap-input100 validate-input" data-validate = "Confirmação de Senha Obrigatória*">
                            <span class="label-input100">Confirmar Senha</span>
                            <input class="input100" type="password" name="pass" placeholder="*************">
                            <span class="focus-input100"></span>
                        </div> -->
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="submit" class="login100-form-btn">
                                    Cadastrar-se
                                </button>
                            </div>
    
                            <a href="/" class="dis-block txt3 hov1 p-r-30 p-t-29 p-b-10">
                                Já tem uma conta? Clique Aqui!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
        <% include ../partials/scriptsLogin %>     

        <script src="js/registrar.js"></script>
    </body>